<form (ngSubmit)="onSubmit()">
    <div>
      <label for="category">Category:</label>
      <input type="text" name="category" [(ngModel)]="passwordItem.category" required>
    </div>
    <div>
      <label for="app">App:</label>
      <input type="text" name="app" [(ngModel)]="passwordItem.app" required>
    </div>
    <div>
      <label for="username">Username:</label>
      <input type="text" name="username" [(ngModel)]="passwordItem.userName" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" [(ngModel)]="decryptedPassword" required>
    </div>
    <button type="submit">Save</button>
  </form>
  