<!-- add-password.component.html -->
<h2>Add a new password</h2>
<form >
  <div>
    <label for="category">Category:</label>
    <input type="text" id="category" name="category" ngModel required>
  </div>
  <div>
    <label for="app">App:</label>
    <input type="text" id="app" name="app" ngModel required>
  </div>
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" ngModel required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" ngModel required>
  </div>
  <button type="submit" >Add password</button>
</form>
